In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2021-02-06 16:01:33,71.9167,114.0833,-37.82,80,69,4.61
1,1,Raudeberg,NO,2021-02-06 15:59:27,61.9875,5.1352,26.60,50,0,5.75
2,2,Airai,TL,2021-02-06 16:01:33,-8.9266,125.4092,61.00,97,100,1.97
3,3,Komsomolskiy,UZ,2021-02-06 16:01:34,40.4272,71.7189,44.60,49,100,6.91
4,4,Samarkand,UZ,2021-02-06 16:01:34,39.6542,66.9597,57.20,33,75,11.50

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.heat_layer = gmaps.heatmap_layer(locations, weights=temps)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Carnarvon,AU,2021-02-06 16:01:34,-24.8667,113.6333,80.60,100,75,12.66
7,7,Japura,ID,2021-02-06 16:01:34,-0.3167,102.3500,75.61,84,75,1.01
8,8,Martapura,ID,2021-02-06 15:58:01,-3.4167,114.8500,78.80,94,100,3.44
9,9,Luwuk,ID,2021-02-06 16:01:35,-0.9516,122.7875,77.77,74,100,3.02
11,11,Arlit,NE,2021-02-06 16:01:35,18.7369,7.3853,86.13,11,100,13.13
12,12,Rikitea,PF,2021-02-06 16:01:35,-23.1203,-134.9692,77.47,74,100,13.20
13,13,Yulara,AU,2021-02-06 15:59:56,-25.2406,130.9889,80.60,29,0,9.22
20,20,Kavieng,PG,2021-02-06 16:01:36,-2.5744,150.7967,81.86,71,96,3.78
21,21,Ugoofaaru,MV,2021-02-06 16:01:36,5.6667,73.0000,82.08,73,69,9.78
25,25,Vao,NC,2021-02-06 16:01:36,-22.6667,167.4833,77.31,87,1,8.12

In [17]:
preferred_cities_df.count()

City_ID       179
City          179
Country       177
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [19]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
5   Carnarvon      AU     80.60 -24.8667  113.6333
7      Japura      ID     75.61  -0.3167  102.3500
8   Martapura      ID     78.80  -3.4167  114.8500
9       Luwuk      ID     77.77  -0.9516  122.7875
11      Arlit      NE     86.13  18.7369    7.3853
12    Rikitea      PF     77.47 -23.1203 -134.9692
13     Yulara      AU     80.60 -25.2406  130.9889
20    Kavieng      PG     81.86  -2.5744  150.7967
21  Ugoofaaru      MV     82.08   5.6667   73.0000
25        Vao      NC     77.31 -22.6667  167.4833

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Carnarvon,AU,80.60,-24.8667,113.6333,Hospitality Carnarvon
7,Japura,ID,75.61,-0.3167,102.3500,Rumah mbah Jamah
8,Martapura,ID,78.80,-3.4167,114.8500,Montana Hotel Syariah
9,Luwuk,ID,77.77,-0.9516,122.7875,Hotel Santika Luwuk
11,Arlit,NE,86.13,18.7369,7.3853,Case de Passage De la Prefecture
12,Rikitea,PF,77.47,-23.1203,-134.9692,Pension Maro'i
13,Yulara,AU,80.60,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
20,Kavieng,PG,81.86,-2.5744,150.7967,Nusa Island Retreat
21,Ugoofaaru,MV,82.08,5.6667,73.0000,Ungoofaaru Inn
25,Vao,NC,77.31,-22.6667,167.4833,Hotel Kou-Bugny

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))