## Deliverable 3. Create a Travel Itinerary Map.

In [102]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [103]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Butaritari,KI,80.87,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
1,8,Rikitea,PF,77.32,overcast clouds,-23.1203,-134.9692,Pension Maro'i
2,15,Vaini,TO,78.80,light rain,-21.2000,-175.2000,Keleti Beach Resort
3,16,Atuona,PF,79.41,few clouds,-9.8000,-139.0333,Villa Enata
4,23,Touros,BR,87.80,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
5,31,Hithadhoo,MV,82.02,broken clouds,-0.6000,73.0833,Scoop Guest House
6,32,Sao Felix Do Xingu,BR,87.66,scattered clouds,-6.6447,-51.9950,Rio Xingu Camping
7,36,Kavaratti,IN,80.94,scattered clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
8,39,Dabakala,CI,89.02,few clouds,8.3667,-4.4333,Hôtel Campement
9,40,Sorong,ID,78.82,broken clouds,-0.8833,131.2500,The Waigo Hotel

In [104]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [105]:
# 4a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [106]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Yeppoon']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Yeppoon']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Mackay']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Charters Towers'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Innisfail'] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
151,515,Yeppoon,AU,78.8,clear sky,-23.1333,150.7333,Villa Mar Colina

In [107]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 =  vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 =  vacation_stop3[["Lat","Lng"]].to_numpy()[0]
stop = vacation_end[["Lat","Lng"]].to_numpy()[0]

In [108]:
stop

array([-23.1333, 150.7333])

In [109]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets

fig = gmaps.figure()
path = gmaps.directions_layer(start, stop, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(path)
fig

Figure(layout=FigureLayout(height='420px'))

In [110]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,515,Yeppoon,AU,78.80,clear sky,-23.1333,150.7333,Villa Mar Colina
1,393,Mackay,AU,78.80,overcast clouds,-21.1500,149.2000,International Lodge Motel
2,447,Charters Towers,AU,76.96,overcast clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
3,109,Innisfail,AU,77.00,overcast clouds,-17.5333,146.0333,Moondarra Motel

In [111]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [113]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))